<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124031160957-jqu6j15779qkkv7hj4vou5bsl1qp3e29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124031160957-jqu6j15779qkkv7hj4vou5bsl1qp3e29</string>
	<key>API_KEY</key>
	<string>AIzaSyCglLnMZt5j243_hmsHioGYp4WOJ4FV_As</string>
	<key>GCM_SENDER_ID</key>
	<string>124031160957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Trent.navTest</string>
	<key>PROJECT_ID</key>
	<string>dice-81d0b</string>
	<key>STORAGE_BUCKET</key>
	<string>dice-81d0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124031160957:ios:54a347d60030f23d5e9714</string>
</dict>
</plist>